<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" 
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
  
  <Fragment>

    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      
      <Component Id="ProductComponent">
        
        <File Source="$(var.WealthBuilder.TargetPath)">
          
          <Shortcut Id="WealthBuilderShortcut"
                    Name="Wealth Builder"
                    Description="A simple way to manage your cash flow"
                    Directory="WealthBuilderShortcuts"
                    WorkingDirectory="INSTALLFOLDER"
                    Advertise="yes" 
                    Icon="icon.ico"/>
          
          <Shortcut Id="WealthBuilderShortcutDesktop"
                    Name=" Wealth Builder"
                    Description="A simple way to manage your cash flow"
                    Directory="DesktopFolder"
                    WorkingDirectory="INSTALLFOLDER"
                    Advertise="yes" 
                    Icon="icon.ico"/>
        </File>

        <RemoveFolder Id="DeleteWealthBuilderShortcuts" Directory="WealthBuilderShortcuts" On="uninstall"/>
        <RemoveFolder Id="DeleteDesktopShortcut" Directory="DesktopFolder" On="uninstall"/>
      </Component>

      <Component Id="SqlLocalDB">
        <File Id="SqlLocalDB"
               Name="SqlLocalDB.msi"
               Source="c:\users\PaulSr\source\repos\WealthBuilder\WealthBuilder\bin\Debug\SqlLocalDB.msi"
               Vital="yes"
               KeyPath="yes"
               DiskId="1" />
      </Component>
      
       <Component Id="WealthBuilder.mdf">
        <File Id="WealthBuilder.mdf"
               Name="WealthBuilder.mdf"
               Source="c:\users\PaulSr\source\repos\WealthBuilder\WealthBuilder\bin\Debug\WealthBuilder.mdf"
               Vital="yes"
               KeyPath="yes"
               DiskId="1" />
      </Component>
      
      <Component Id="WealthBuilder.ldf">
        <File Id="WealthBuilder.ldf"
               Name="WealthBuilder.ldf"
               Source="c:\users\PaulSr\source\repos\WealthBuilder\WealthBuilder\bin\Debug\WealthBuilder.ldf"
               Vital="yes"
               KeyPath="yes"
               DiskId="1" />
      </Component>
      
      <Component Id="EntityFramework">
        <File Id="EntityFramework" 
               Name="EntityFramework.dll" 
               Source="c:\users\PaulSr\source\repos\WealthBuilder\WealthBuilder\bin\Debug\EntityFramework.dll" 
               Vital="yes" 
               KeyPath="yes" 
               DiskId="1" />
      </Component>

      <Component Id="EntityFrameworkSqlServer">
        <File Id="EntityFrameworkSqlServer"
               Name="EntityFramework.SqlServer.dll"
               Source="c:\users\PaulSr\source\repos\WealthBuilder\WealthBuilder\bin\Debug\EntityFramework.SqlServer.dll"
               Vital="yes"
               KeyPath="yes"
               DiskId="1" />
      </Component>
      
      <Component Id="WealthBuilder.exe.config">
        <File  Id="WealthBuilder.exe.config"
               Name="WealthBuilder.exe.config"
               Source="c:\users\PaulSr\source\repos\WealthBuilder\WealthBuilder\bin\Debug\WealthBuilder.exe.config"
               Vital="yes" KeyPath="yes" DiskId="1"/>
      </Component>
      <Component Id="coins.ico">
        <File  Id="coins.ico"
               Name="coins.ico"
               Source="c:\users\PaulSr\source\repos\WealthBuilder\WealthBuilder\bin\Debug\coins.ico"
               Vital="yes"
               KeyPath="yes"
               DiskId="1"/>
      </Component>
      <Component Id="RestSharp.dll">
        <File  Id="RestSharp.dll"
               Name="RestSharp.dll"
               Source="c:\users\PaulSr\source\repos\WealthBuilder\WealthBuilder\bin\Debug\RestSharp.dll"
               Vital="yes"
               KeyPath="yes"
               DiskId="1"/>
      </Component>
      <Component Id="EULA.rtf"><File  Id="EULA.rtf" Name="EULA.rtf" Source="C:\Users\PaulSr\source\repos\WealthBuilder\SetupProject1\EULA.rtf" Vital="yes" KeyPath="yes" DiskId="1"/>
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>
