<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*" 
           Name="Wealth Builder" 
           Language="1033"
           Version="!(bind.fileVersion.WealthBuilder.exe)" 
           Manufacturer="McMillan Financial Solutions, LLC" 
           UpgradeCode="6515a8c3-5d35-4a47-ae7e-b8097b096626">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate EmbedCab="yes" />

    <Icon Id="icon.ico" 
          SourceFile="c:\users\PaulSr\source\repos\WealthBuilder\WealthBuilder\bin\Debug\coins.ico"/>
    
    <Property Id="ARPPRODUCTICON" Value="icon.ico" />

    <Feature Id="ProductFeature" Title="SetupProject1" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
    
		</Feature>
	</Product>
</Wix>
