<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:bal="http://schemas.microsoft.com/wix/BalExtension"
     xmlns:util="http://wixtoolset.org/schemas/v4/wxs/util">

  <Bundle Name="Wealth Builder" 
          IconSourceFile="C:\Users\PaulSr\source\repos\WealthBuilder\WealthBuilderSetup\coins.ico" 
          Version="!(bind.packageVersion.WealthBuilderApp)" 
          Manufacturer="McMillan Financial Solutions, LLC" 
          UpgradeCode="974323d1-2d40-42c2-97c7-033b900888be">

    <BootstrapperApplicationRef Id="WixStandardBootstrapperApplication.RtfLicense"><bal:WixStandardBootstrapperApplication LicenseFile="C:\Users\PaulSr\source\repos\WealthBuilder\WealthBuilderSetup\EULA.rtf" 
                                              LogoFile="BootStrapperCoins.png" 
                                SuppressOptionsUI="yes"/>
    </BootstrapperApplicationRef>

    <Chain>
      <!-- TODO: Define the list of chained packages. -->
      <PackageGroupRef Id="NetFx461Web"/>
      <MsiPackage 
        SourceFile="C:\Users\PaulSr\source\repos\WealthBuilder\SetupProject1\bin\Debug\WealthBuilderSetup.msi" 
        Id="WealthBuilderApp"/>
      <MsiPackage SourceFile="C:\Users\PaulSr\source\repos\WealthBuilder\WealthBuilder\SqlLocalDB.msi" Vital="yes" DisplayInternalUI="no" ForcePerMachine="yes">
        <MsiProperty Name="IACCEPTSQLLOCALDBLICENSETERMS" Value="YES"/>
      </MsiPackage>
    </Chain>
  </Bundle>
</Wix>
