<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
      <add name="WBEntities" 
           connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string='data source=(localdb)\mssqllocaldb;attachdbfilename=&quot;C:\Users\PaulSr\AppData\Roaming\McMillan Financial Solutions\Wealth Builder\WealthBuilder.mdf&quot;;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework'"
          providerName="System.Data.EntityClient" />
      <add name="WealthBuilder.Properties.Settings.WealthBuilderConnectionString"
          connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=WealthBuilder;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;AttachDbFileName=|DataDirectory|\WealthBuilder.mdf"
          providerName="System.Data.SqlClient" />
      <add name="WealthBuilder.Properties.Settings.WealthBuilderConnectionString1"
          connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=WealthBuilder;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False"
          providerName="System.Data.SqlClient" />
      <add name="WealthBuilder.Properties.Settings.WealthBuilderConnectionString2"
          connectionString="Data Source=(localdb)\mssqllocaldb;AttachDbFilename=&quot;C:\Users\PaulSr\AppData\Roaming\McMillan Financial Solutions\Wealth Builder\WealthBuilder.mdf&quot;;Integrated Security=True"
          providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>